<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- 公共导航栏，引入方式：<th:block th:include="common/header::nav"/> -->
<th:block th:fragment="nav">
    <header id="header" class="header header-style1">
        <div class="header-top clearfix">
            <div class="container">
                <div class="rows">
                    <!-- SIDEBAR TOP MENU -->
                    <div class="pull-left top1">
                        <div class="widget text-2 widget_text pull-left">
                            <div class="widget-inner">
                                <div class="textwidget">
                                    <div class="call-us"><span>联系我们: </span>010-0000000</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wrap-myacc pull-right">
                        <div class="sidebar-account pull-left">
                            <div class="account-title">
                                <shiro:authenticated>
                                    <a class="account-title" th:href="@{/user/user_center}">欢迎：[[${session.user.nickname}]]</a>
                                </shiro:authenticated>
                                <shiro:guest>
                                    <a class="account-title" th:href="@{/login}">登录</a>
                                </shiro:guest>
                            </div>

                        </div>
                        <shiro:authenticated>
                            <div class="pull-left top2">
                                <div class="widget-1 widget-first widget nav_menu-2 widget_nav_menu">
                                    <div class="widget-inner">
                                        <ul id="menu-checkout" class="menu">
                                            <li class="menu-checkout">
                                                <a class="item-link" th:href="@{/logout}">
                                                    <span class="menu-title">注销</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </shiro:authenticated>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-mid clearfix">
            <div class="container">
                <div class="rows">
                    <!-- LOGO -->
                    <div class="etrostore-logo pull-left">
                        <a th:href="@{/}">
                            <img th:src="@{/images/icons/logo-orange.png}">
                        </a>
                    </div>

                    <div class="mid-header pull-right">
                        <div class="widget-1 widget-first widget sw_top-2 sw_top">
                            <div class="widget-inner">
                                <div class="top-form top-search">
                                    <div class="topsearch-entry">
                                        <form method="get" th:action="@{/search}">
                                            <div>
                                                <input type="text" th:value="${searchKeyword}" name="keyword"
                                                       placeholder="输入商品名进行搜索">
                                                <!--<div class="cat-wrapper">-->
                                                <!--<label class="label-search">-->
                                                <!--<select name="search_category" class="s1_option">-->
                                                <!--<option value="">All Categories</option>-->
                                                <!--<option value="8">Computers & Laptops</option>-->
                                                <!--</select>-->
                                                <!--</label>-->
                                                <!--</div>-->

                                                <button type="submit" title="Search"
                                                        class="fa fa-search button-search-pro form-button"></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget nav_menu-3 widget_nav_menu pull-left">
                            <div class="widget-inner">
                                <ul id="menu-wishlist" class="menu">
                                    <li class="menu-wishlist">
                                        <a th:href="@{/user/stars}" style="background-color: #ed9c28"></a>
                                    </li>
                                    <li class="menu-wishlist">
                                        <button class="btn btn-warning">发布商品</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom clearfix">
            <div class="container">
                <div class="rows">
                    <!-- Primary navbar -->
                    <div id="main-menu" class="main-menu">
                        <nav id="primary-menu" class="primary-menu">
                            <div class="navbar-inner navbar-inverse">
                                <div class="resmenu-container">
                                    <button class="navbar-toggle" type="button" data-toggle="collapse"
                                            data-target="#ResMenuprimary_menu">
                                        <span class="sr-only">Categories</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                    <div id="ResMenuprimary_menu" class="collapse menu-responsive-wrapper">
                                        <ul id="menu-primary-menu" class="etrostore_resmenu">
                                            <li><a th:href="@{/}">主页</a></li>
                                            <li><a th:href="@{/shop/1}">商品</a></li>
                                            <li><a href="#">关于我们</a></li>
                                            <li><a href="#">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <ul id="menu-primary-menu-1"
                                    class="nav nav-pills nav-mega etrostore-mega etrostore-menures">
                                    <li><a th:href="@{/}">主页</a></li>
                                    <li><a th:href="@{/shop/1}">商品</a></li>
                                    <li><a href="#">关于我们</a></li>
                                    <li><a href="#">联系我们</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="mid-header pull-right">
                        <div class="widget sw_top">
                            <span class="stick-sr">
                                <a th:href="@{/user/stars}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </span>
                            <!--<div class="top-form top-search">-->
                                <!--<div class="topsearch-entry">-->
                                    <!--<form role="search" method="get" class="form-search searchform" action="">-->
                                        <!--<label class="hide"></label>-->
                                        <!--<input type="text" value="" name="s" class="search-query"-->
                                               <!--placeholder="Keyword here..."/>-->
                                        <!--<button type="submit" class="button-search-pro form-button">Search</button>-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script th:src="@{/plugins/sweetalert/js/sweetalert.min.js}"></script>

    <script th:inline="javascript">
        var contextPath = /*[[@{/}]]*/'';
        var userSession = /*[[${session.user}]]*/'';
    </script>
    <script>
        var sticky_navigation_offset_top = $("#header .header-bottom").offset().top;
        var sticky_navigation = function () {
            var scroll_top = $(window).scrollTop();
            if (scroll_top > sticky_navigation_offset_top) {
                $("#header .header-bottom").addClass("sticky-menu");
                $("#header .header-bottom").css({"top": 0, "left": 0, "right": 0});
            } else {
                $("#header .header-bottom").removeClass("sticky-menu");
            }
        };
        sticky_navigation();
        $(window).scroll(function () {
            sticky_navigation();
        });
        $(document).ready(function () {
            $(".show-dropdown").each(function () {
                $(this).on("click", function () {
                    $(this).toggleClass("show");
                    var $element = $(this).parent().find("> ul");
                    $element.toggle(300);
                });
            });
            $('#menu-wishlist button').click(function () {
                if (userSession == null) {
                    swal({
                        title: "提示",
                        text: "您尚未登录，请先登录！",
                        icon: "warning",
                        buttons: ["关闭", "确定"]
                    }).then(result => {
                        if (result) {
                            location.replace(contextPath + 'login?to=user/treasure');
                        }
                    });
                } else {
                    location.replace(contextPath + 'user/treasure');
                }
            });
        });
    </script>
</th:block>
</html>