<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleamarket.core.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.fleamarket.core.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="treasure_id" property="treasureId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="logistics" property="logistics" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, treasure_id, create_time, note, status, logistics
  </sql>
  <insert id="addOrder"  parameterType="com.fleamarket.core.model.Order">
   INSERT INTO fleamarket.order ( name,address,user_id,phone,treasure_id,note,status ) VALUES( #{name},#{address}, #{userId},#{phone},#{treasureId},#{note},#{status} );
  </insert>
  <select id="selectByUserId"  parameterType="Integer" resultType="Order">
    SELECT o.*,o.treasure_id as `treasure.id`,t.title as `treasure.title`,t.description as `treasure.description`,t.price as `treasure.price`,t.fare as `treasure.fare`
    FROM fleamarket.order o,treasure t
    WHERE user_id = #{userId} and o.treasure_id=t.id
  </select>
  <select id="selectByKeyword" resultType="Order">
    select * from fleamarket.order where ${column} like #{keyword}
  </select>
  <select id="selectSales" resultType="Order">
    select o.*,o.treasure_id as `treasure.id`,t.title as `treasure.title`,t.description as `treasure.description`,t.price as `treasure.price`,t.fare as `treasure.fare`
    from fleamarket.order o, treasure t
    where t.uid=#{userId} and o.treasure_id=t.id
  </select>
</mapper>