<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleamarket.core.mapper.TreasureMapper" >
  <resultMap id="BaseResultMap" type="com.fleamarket.core.model.Treasure" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="trading_method" property="tradingMethod" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="fare" property="fare" jdbcType="DOUBLE" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="sell_type" property="sellType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="new_degree" property="newDegree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, description, trading_method, picture, category, price, fare, total, sell_type, status,
    create_time, like_count, comment_count, new_degree
  </sql>
  <insert id="insertTreasure" parameterType="Treasure">
    INSERT INTO treasure(title,description,picture,category,price,fare,total,trading_method,new_degree)
    VALUES (#{title},#{description},#{picture},#{category},#{price},#{fare},#{total},#{tradingMethod},#{newDegree})
  </insert>
</mapper>