<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout - Premium Multipurpose HTML5/CSS3 Theme</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          th:href="@{/images/icons/apple-touch-icon-14-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          th:href="@{/images/icons/apple-touch-icon-114-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          th:href="@{/images/icons/apple-touch-icon-72-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/apple-touch-icon-57-precomposed.png}"/>
    <link rel="shortcut icon" th:href="@{/images/icons/favicon.png}"/>

    <!-- GOOGLE WEB FONTS -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <!-- BOOTSTRAP 3.3.7 CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- SLICK v1.6.0 CSS -->
    <link rel="stylesheet" th:href="@{/css/slick-1.6.0/slick.css}"/>

    <link rel="stylesheet" th:href="@{/css/select2/select2.css}">

    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.css}"/>
    <link rel="stylesheet" th:href="@{/css/yith-woocommerce-compare/colorbox.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/js_composer/js_composer.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/woocommerce/woocommerce.css}"/>
    <link rel="stylesheet" th:href="@{/css/woocommerce/woocommerce-layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/woocommerce/woocommerce-smallscreen.css}"/>
    <link rel="stylesheet" th:href="@{/css/yith-woocommerce-wishlist/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/app-orange.css}" id="theme_color"/>
    <link rel="stylesheet" href="" id="rtl"/>
    <link rel="stylesheet" th:href="@{/css/app-responsive.css}"/>
</head>

<body class="page woocommerce-checkout woocommerce-page">
<div class="body-wrapper theme-clearfix">
    <th:block th:include="common/header::nav"/>

    <div class="listings-title">
        <div class="container">
            <div class="wrap-title">
                <h1>购买商品</h1>
                <div class="bread">
                    <div class="breadcrumbs theme-clearfix">
                        <div class="container">
                            <ul class="breadcrumb">
                                <li>
                                    <a th:href="@{/}">主页</a>
                                    <span class="go-page"></span>
                                </li>

                                <li class="active">
                                    <span>购买商品</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="contents" role="main" class="main-page  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="woocommerce">
                            <form name="checkout" method="post" class="checkout woocommerce-checkout"
                                  action="/placeorder" enctype="multipart/form-data">
                                <div class="col2-set" id="customer_details">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>订单详情</h3>

                                            <p class="form-row form-row-first validate-required"
                                               id="billing_first_name_field">
                                                <label for="billing_first_name" class="">
                                                    姓名
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input type="text" class="input-text " name="name"
                                                       id="billing_first_name" placeholder="" autocomplete="given-name"
                                                       value=""/>
                                            </p>

                                            <p class="form-row form-row-last validate-required validate-phone"
                                               id="billing_phone_field">
                                                <label for="billing_phone" class="">
                                                    联系电话
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input type="tel" class="input-text " name="phone" id="billing_phone"
                                                       placeholder="" autocomplete="tel" value=""/>

                                            <p class="form-row form-row address-field validate-required form-row-first"
                                               id="billing_city_field"
                                               data-o_class="form-row form-row form-row-wide address-field validate-required">
                                                <label for="billing_address_1" class="">
                                                    所在城市
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                            <div class="col-md-4" style="padding: 0px">
                                                <select name="work_province" id="work_province"
                                                        class="form-control select-control double-control">
                                                    <option value="">请选择</option>
                                                </select>
                                                <select name="work_city" id="work_city"
                                                        class="form-control select-control double-control"
                                                        style="float: right">
                                                    <option value="">请选择</option>
                                                </select>
                                            </div>
                                            </p>
                                            s
                                            <p class="form-row form-row form-row-wide address-field validate-required"
                                               id="billing_address_1_field">
                                                <label for="billing_address_1" class="">
                                                    地址
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input type="text" class="input-text " name="address"
                                                       id="billing_address_1" placeholder="请输入邮寄地址"
                                                       autocomplete="address-line1" value=""/>
                                            </p>

                                            <p class="form-row form-row form-row-wide address-field"
                                               id="billing_address_2_field" style="display: none;">
                                                <input type="text" class="input-text " name="billing_address_2"
                                                       id="billing_address_2"
                                                       autocomplete="address-line2" value=""/>
                                            </p>


                                            <p class="form-row form-row address-field validate-state form-row-first"
                                               id="billing_state_field" style="display: none"
                                               data-o_class="form-row form-row form-row-first address-field validate-state">
                                                <label for="billing_state" class="">State / County</label>
                                                <input type="hidden" class="hidden" name="billing_state"
                                                       id="billing_state" value="" placeholder=""/>
                                            </p>

                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="woocommerce-shipping-fields">
                                            <h3>附加信息</h3>

                                            <p class="form-row form-row notes" id="order_comments_field">
                                                <label for="order_comments" class="">备注</label>
                                                <textarea name="note" class="input-text " id="order_comments"
                                                          rows="2" cols="5"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <h3 id="order_review_heading">您的购买</h3>

                                <div id="order_review" class="woocommerce-checkout-review-order">
                                    <table class="shop_table woocommerce-checkout-review-order-table">
                                        <thead>
                                        <tr>
                                            <th class="product-name">商品名称</th>
                                            <th class="product-total">总计</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name" th:text="${treasure.title}">
                                                &nbsp;<strong class="product-quantity">&#215; </strong>
                                            </td>

                                            <td class="product-total">
                                                <span class="woocommerce-Price-amount amount"
                                                      th:text="${treasure.price}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div id="payment" class="woocommerce-checkout-payment">


                                        <div class="form-row place-order">
                                            <input type="hidden" name="treasureId" th:value="${treasure.id}"/>
                                            <input type="submit" class="button alt"
                                                   name="woocommerce_checkout_place_order" id="place_order"
                                                   value="确认下单" data-value="Place order">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer::nav"/>
</div>

<!-- DIALOGS -->


<a id="etrostore-totop" href="#"></a>

<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery-migrate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/js.cookie.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery.blockUI.min.js}"></script>

<script type="text/javascript" th:src="@{/js/select2/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/woocommerce/country-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/woocommerce/address-i18n.min.js}"></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_checkout_params = {
        "ajax_url": "",
        "wc_ajax_url": "",
        "update_order_review_nonce": "1aa1fb54e5",
        "apply_coupon_nonce": "bd3d1dc06d",
        "remove_coupon_nonce": "0d367c9fe4",
        "option_guest_checkout": "yes",
        "checkout_url": "\/themes\/sw_shoppy\/?page_id=28&wc-ajax=checkout",
        "is_checkout": "1",
        "debug_mode": "",
        "i18n_checkout_error": "Error processing checkout. Please try again."
    };
    /* ]]> */
</script>

<!-- OPEN LIBS JS -->
<script type="text/javascript" th:src="@{/js/owl-carousel/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/slick-1.6.0/slick.min.js}"></script>

<script type="text/javascript" th:src="@{/js/yith-woocommerce-compare/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/isotope/isotope.js}"></script>
<script type="text/javascript" th:src="@{/js/fancybox/jquery.fancybox.pack.js}"></script>
<script type="text/javascript" th:src="@{/js/sw_woocommerce/jquery.countdown.min.js}"></script>
<script type="text/javascript" th:src="@{/js/woocommerce/checkout.js}"></script>
<script type="text/javascript" th:src="@{/js/js_composer/js_composer_front.min.js}"></script>

<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/js/megamenu.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script th:inline="javascript">
    var contextPath = /*[[@{/}]]*/'';
</script>
<script type="text/javascript">

    $(function () {
        console.log(contextPath);
        initWorkplace("work_province", "work_city", "", "");
    });

    function initWorkplace(provinceId, cityId, provinceValue, cityValue) {
        var $provinceSel = $("#" + provinceId);
        var $citySel = $("#" + cityId);
        $provinceSel.find("option:gt('0')").remove();
        $.ajaxSettings.async = false;
        $.getJSON(contextPath + "json/cities.json", function (data) {
            for (var x = 0; x < data.length; x++) {
                if (data[x].name == provinceValue)
                    $provinceSel.append($("<option value='" + data[x].name + "' selected>" + data[x].name + "</option>"));
                else
                    $provinceSel.append($("<option value='" + data[x].name + "'>" + data[x].name + "</option>"));
            }
        });
        if (provinceValue != undefined && provinceValue != "-1") {
            $.getJSON(contextPath + "json/cities.json", function (data) {
                for (var x = 0; x < data.length; x++) {
                    if (data[x].name == $provinceSel.val()) {
                        for (var y = 1; y < data[x].sub.length; y++) {
                            if (data[x].sub[y].name == cityValue) {
                                $citySel.append($("<option value='" + data[x].sub[y].name + "' selected>" + data[x].sub[y].name + "</option>"));
                            } else {
                                $citySel.append($("<option value='" + data[x].sub[y].name + "'>" + data[x].sub[y].name + "</option>"));
                            }
                        }
                        break;
                    }
                }
            });
        }
        $provinceSel.change(function () {
            var preCityValue = $citySel.val();
            $citySel.find(":gt('0')").remove();
            $.ajaxSettings.async = false;
            $.getJSON(contextPath + "json/cities.json", function (data) {
                for (var x = 0; x < data.length; x++) {
                    if (data[x].name == $("#" + provinceId).val()) {
                        for (var y = 1; y < data[x].sub.length; y++) {
                            if (data[x].sub[y].name == preCityValue) {
                                $citySel.append($("<option value='" + data[x].sub[y].name + "' selected>" + data[x].sub[y].name + "</option>"));
                            } else {
                                $citySel.append($("<option value='" + data[x].sub[y].name + "'>" + data[x].sub[y].name + "</option>"));
                            }
                        }
                    }
                }
            });
            $.ajaxSettings.async = true;
        });
        $.ajaxSettings.async = true;
    }

    var sticky_navigation_offset_top = $("#header .header-bottom").offset().top;
    var sticky_navigation = function () {
        var scroll_top = $(window).scrollTop();
        if (scroll_top > sticky_navigation_offset_top) {
            $("#header .header-bottom").addClass("sticky-menu");
            $("#header .header-bottom").css({"top": 0, "left": 0, "right": 0});
        } else {
            $("#header .header-bottom").removeClass("sticky-menu");
        }
    };
    sticky_navigation();
    $(window).scroll(function () {
        sticky_navigation();
    });

    $(document).ready(function () {
        $(".show-dropdown").each(function () {
            $(this).on("click", function () {
                $(this).toggleClass("show");
                var $element = $(this).parent().find("> ul");
                $element.toggle(300);
            });
        });
    });
</script>

</body>
</html>