<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户中心</title>
    <th:block th:include="common/common_resource :: resources"/>
    <link th:remove="all" href="../../static/css/bootstrap-3.1.1.min.css"
          rel="stylesheet"/>
    <link th:href="@{/css/fleamarket/user_center.css}" href="../../static/css/fleamarket/user_center.css"
          rel="stylesheet"/>
    <!-- 相册js引入 -->
    <script src="../../static/js/ekko-lightbox.min.js" th:src="@{/js/ekko-lightbox.min.js}"></script>
    <script th:inline="javascript">
        var type = /*[[${#httpServletRequest.getParameter('type')}]]*/'';
        var treaid = /*[[${#httpServletRequest.getParameter('tid')}]]*/'';
        var city = /*[[${session.user.city}]]*/'';
        var school = /*[[${session.user.school}]]*/'';
    </script>
    <script th:src="@{/plugins/nice-validator/jquery.validator.js(local=zh-CN)}"></script>
    <script th:src="@{/plugins/sweetalert/js/sweetalert.min.js}"></script>
    <!-- 引入bootstrap fileinput -->
    <link th:href="@{/plugins/fileinput/css/fileinput.css}" href="../../static/plugins/fileinput/css/fileinput.css"
          rel="stylesheet"/>
    <script th:src="@{/js/fleamarket/user/user_center.js}"
            src="../../static/js/fleamarket/user/user_center.js"></script>
    <script th:src="@{/plugins/fileinput/js/fileinput.js}"
            src="../../static/plugins/fileinput/js/fileinput.js"></script>
    <script th:src="@{/plugins/fileinput/js/locales/zh.js}"
            src="../../static/plugins/fileinput/js/locales/zh.js"></script>
</head>
<body>
<th:block th:include="common/header::nav"/>
<div class="listings-title">
    <div class="container">
        <div class="wrap-title">
            <h1>个人中心</h1>
            <div class="bread">
                <div class="breadcrumbs theme-clearfix">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">首页</a>
                                <span class="go-page"></span>
                            </li>

                            <li class="active">
                                <span>个人中心</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid_3" style="margin-bottom: 50px;">
    <div class="container">
        <div class="col-md-3 col_5">
            <div class="menu">
                <div class="photo-message">
                    <div class="img-div" data-toggle="modal" data-target="#myImg">
                        <img id="head-sculpture" th:src="@{/file(path=${session.user.photo})}" class="img-circle"
                             src="../../static/images/1.jpg">
                    </div>
                    <div class="short-message">
                        <a><h3 th:text="${session.user.nickname}"></h3></a>
                    </div>
                    <div class="short-message">
                        <p>用户名：[[${session.user.username}]]</p>
                    </div>
                    <!--<div class="short-message">-->
                        <!--<p>牵手币余额：<span style="color: #ff8e42">50</span></p>-->
                    <!--</div>-->
                </div>
                <div class="list-group panel-message" id="left_list">
                    <a role="tab" class="list-group-item left-pane" href="#basicPanel" id="basic-tab" data-toggle="tab"
                       aria-controls="basicPanel">基本资料</a>
                    <a role="tab" class="list-group-item left-pane" href="#treasurePanel" id="treasure-tab"
                       data-toggle="tab"
                       aria-controls="treasurePanel">我的宝贝</a>
                    <a role="tab" class="list-group-item left-pane" href="#orderPanel" id="order-tab" data-toggle="tab"
                       aria-controls="orderPanel">订单管理</a>
                    <a role="tab" class="list-group-item left-pane" href="#settingPanel" id="setting-tab"
                       data-toggle="tab"
                       aria-controls="settingPanel">系统设置</a>
                </div>
            </div>
        </div>
        <div id="mytab" class="col-md-9 tab-content tab-big">
            <div id="basicPanel" class="tab-pane active">
                <br>
                <div class="message_header">
                    <h3>个人基本信息</h3>
                </div>
                <div class="message_main" style="height: auto;">
                    <form id="form-user-basic" class="basic_message_form">
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">用户名：</label>
                            <input type="hidden" name="id" th:value="${session.user.id}">
                            <input type="text" id="username" name="username"
                                   class="col-md-4 form-control message_main_input"
                                   th:value="${session.user.username}" disabled>
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">昵称：</label>
                            <input type="text" id="nickname" name="nickname"
                                   class="col-md-4 form-control message_main_input"
                                   th:value="${session.user.nickname}">
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">手机号：</label>
                            <input type="text" id="tel" name="tel" class="col-md-4 form-control message_main_input"
                                   th:value="${session.user.tel}">
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">性别：</label>
                            <input type="radio" name="sex" class="message_main_input" value="男"
                                   th:checked="${session.user.sex == '男'}">男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="sex" class="message_main_input" value="女"
                                   th:checked="${session.user.sex == '女'}">女
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">邮箱：</label>
                            <input id="email" name="email" class="col-md-4 form-control message_main_input"
                                   th:value="${session.user.email}">
                        </div>

                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">生日：</label>
                            <input type="date" id="birthday" name="birthday"
                                   class="col-md-4 form-control message_main_input"
                                   th:value="${session.user.birthday}">
                        </div>
                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">所在城市：</label>
                            <div class="col-md-4" style="padding: 0px">
                                <select name="work_province" id="work_province"
                                        class="form-control select-control double-control">
                                    <option value="">请选择</option>
                                </select>
                                <select name="work_city" id="work_city"
                                        class="form-control select-control double-control" style="float: right">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group message_group">
                            <label class="col-md-3 control-label message-lable text-right">学校：</label>
                            <div class="col-md-4" style="padding: 0px">
                                <select name="school_province" id="school_province"
                                        class="form-control select-control double-control">
                                    <option value="">请选择</option>
                                </select>
                                <select name="school_name" id="school_name"
                                        class="form-control select-control double-control" style="float: right">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 text-right">
                                <input class="btn btn-primary" type="submit" value="提交" style="margin: 10px"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="treasurePanel" class="tab-pane">
                <br>
                <div class="row">
                    <h3 class="col-md-10">我的宝贝</h3>
                    <!--<div id="max-upload" class="col-md-2 text-left">-->
                    <!--<button class="btn btn-default" disabled-->
                    <!--style="color: orangered">最多上传9张-->
                    <!--</button>-->
                    <!--</div>-->
                </div>
                <div class="row" style="margin: 10px 3px">
                    <div class="input-group">
                        <span class="input-group-addon">选择您的宝贝：</span>
                        <select id="treasure-select" class="form-control">
                            <option th:value="${treasure.id}" th:each="treasure,stat : ${treasures}"
                                    th:text="${treasure.title}" th:selected="${stat.index == 0}"></option>

                        </select>
                    </div>
                </div>
                <div id="treasurediv" class="row">
                    <br>
                    <br>
                    <div class="message_header">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;基本信息</h4>
                    </div>
                    <div class="message_main" style="height: auto;">
                        <form id="form-treasure" class="basic_message_form">
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">标题：</label>
                                <input type="hidden" name="id" id="tid">
                                <input type="hidden" name="uid" th:value="${session.user.id}">
                                <div class="col-md-6">
                                    <input type="text" id="title" name="title" class="form-control treasure-msg">
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">分类：</label>
                                <div class="col-md-6">
                                    <select name="category" id="category"
                                            class="form-control select-control double-control treasure-msg">
                                        <option value="">请选择</option>
                                        <option th:each="entry:${categories}" th:value="${entry.key}" th:text="${entry.value}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">新旧程度：</label>
                                <div class="col-md-6">
                                    <select name="newDegree" id="newDegree"
                                            class="form-control select-control double-control treasure-msg">
                                        <option value="">请选择</option>
                                        <option th:each="newDegree:${newDegrees}" th:value="${newDegree}" th:text="${newDegree}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">发布时间：</label>
                                <div class="col-md-6" style="font-size: 14px;line-height: 34px">
                                    <span id="create-time"></span>
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">热度：</label>
                                <div class="col-md-6" style="font-size: 14px;line-height: 34px">
                                    <span><span id="views">0</span>次浏览</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span><span id="stars">0</span>次收藏</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!--<span><span id="comments">0</span>个评论</span>-->
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">价格：</label>
                                <div class="col-md-6">
                                    <input type="text" id="price" name="price"
                                           class="form-control treasure-msg">
                                </div>
                            </div>
                            <div class="form-group message_group row" id="trading-method-div">
                                <label class="col-md-2 control-label message-lable text-right">运费：</label>
                                <div class="col-md-6">
                                    <input type="text" id="fare" name="fare" class="form-control treasure-msg">
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">交易方式：</label>
                                <div class="col-md-6">
                                    <div class="checkbox-group">
                                        <input type="checkbox" name="tradingMethod" id="pickUp" class="checkbox-material" value="pickUp">
                                        <label class="treasure-content">自提&nbsp;&nbsp;&nbsp;</label>
                                        <input type="checkbox" name="tradingMethod" id="faceGay" class="checkbox-material" value="faceGay">
                                        <label class="treasure-content">同城面交&nbsp;&nbsp;&nbsp;</label>
                                        <input type="checkbox" name="tradingMethod" id="postMan" class="checkbox-material" value="postMan">
                                        <label class="treasure-content">邮寄</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group message_group row">
                                <label class="col-md-2 control-label message-lable text-right">宝贝描述：</label>
                                <div class="col-md-7">
                                    <textarea id="description" name="description" rows="4"
                                              class="form-control treasure-msg">
                                    </textarea>
                                </div>
                            </div>
                            <div class="row" style="display: block;">
                                <div class="col-md-offset-2 col-md-2 text-right">
                                    <input class="btn btn-primary" type="submit" value="修改基本信息" style="margin: 10px 0"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="message_header">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;图片信息</h4>
                    </div>
                    <div id="min-upload" class="col-md-2 text-left">
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal"
                                style="color: dodgerblue">图片上传
                        </button>
                    </div>
                    <div id="picturediv" class="row">
                        <section id="gallery">
                            <div class="container-fluid">
                                <div id="photoContent" style="padding: 60px">
                                    <!--主图-->
                                    <div class="photo-single col-md-4">
                                        <a data-toggle="lightbox" data-gallery="sigma-gallery">
                                            <img id="main-pic" class="img-fluid sigmapad">
                                        </a>
                                        <div class="submit inline-block">
                                            <button disabled class="hvr-wobble-vertical set-photo-btn">主图片</button>
                                        </div>
                                    </div>
                                    <!--其他图片-->
                                    <!--<div class="photo-single pics">-->
                                        <!--<a href=""-->
                                           <!--data-toggle="lightbox" data-gallery="sigma-gallery"-->
                                           <!--data-title="Image Title 01">-->
                                            <!--<img src="" class="img-fluid sigmapad">-->
                                            <!--<a id="picture-del-" class="photo-del"><i-->
                                                    <!--class="fa fa-times"></i></a>-->
                                        <!--</a>-->
                                        <!--<div class="submit inline-block">-->
                                            <!--<button id="" class="hvr-wobble-vertical set-photo-btn">设为主图-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div id="orderPanel" class="tab-pane">
                <br>
                <div class="message_header">
                    <h3>我的订单</h3>
                </div>
                <div class="message_header">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;我卖出的</h4>
                </div>
                <div class="message_main">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>商品名称</th>
                                <th>价格</th>
                                <th>运费</th>
                                <th>物流单号</th>
                                <th>下单时间</th>
                                <th>收货人姓名</th>
                                <th>收货人电话</th>
                                <th>收货人地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order:${sales}">
                                <td th:text="${order.id}"></td>
                                <td><a th:href="@{'/treasure/'+${order.treasure.id}}" style="color: #d18b00;" th:text="${order.treasure.title}"></a></td>
                                <td th:text="${order.treasure.price}"></td>
                                <td th:text="${order.treasure.fare}"></td>
                                <td th:if="${order.logistics==null}">
                                    <button id="logistics-btn" th:value="${order.id}" class="btn btn-warning btn-sm">已发货，回填单号</button>
                                </td>
                                <td th:unless="${order.logistics==null}" th:text="${order.logistics}"></td>
                                <td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${order.name}"></td>
                                <td th:text="${order.phone}"></td>
                                <td th:text="${order.address}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="message_header">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;我购买的</h4>
                </div>
                <div class="message_main"  th:each="ele : ${orders}">
                    <div class="table-responsive">
                        <table id="user-basic-table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>订单号</th>
                                <th>商品名称</th>
                                <th>价格</th>
                                <th>运费</th>
                                <th>物流单号</th>
                                <th>下单时间</th>
                                <th>收货人姓名</th>
                                <th>收货人电话</th>
                                <th>收货人地址</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order:${orders}">
                                    <td th:text="${order.id}"></td>
                                    <td><a th:href="@{'/treasure/'+${order.treasure.id}}" th:text="${order.treasure.title}"></a></td>
                                    <td th:text="${order.treasure.price}"></td>
                                    <td th:text="${order.treasure.fare}"></td>
                                    <td th:style="${order.logistics==null?'color:#fa7455;':''}" th:text="${order.logistics==null?'卖家暂未发货':order.logistics}"></td>
                                    <td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${order.name}"></td>
                                    <td th:text="${order.phone}"></td>
                                    <td th:text="${order.address}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="settingPanel" class="tab-pane">
                <br>
                <div class="message_header">
                    <h3>系统设置</h3>
                </div>
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="Tab" class="nav nav-tabs nav-tabs1" role="tablist">
                            <li role="presentation" class="active"><a href="#modify_password" id="password-tab"
                                                                      role="tab" data-toggle="tab"
                                                                      aria-controls="modify_password"
                                                                      aria-expanded="true">修改密码</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="modify_password"
                                 aria-labelledby="modify_password">
                                <div class="tab_box">
                                    <form id="form-reset-pwd" class="form-horizontal" action="/changepassword" method="post" >
                                        <div class="form-group">
                                            <label for="newpwd" class="col-md-4 control-label message-lable text-right">密码：</label>
                                            <div class="col-md-4">
                                                <input type="hidden" name="id" th:value="${session.user.id}">
                                                <input type="password" name="newpwd" id="newpwd" class="form-control">
                                            </div>
                                        </div><div id="adiv"></div>
                                        <div class="form-group">
                                            <label for="password"
                                                   class="col-md-4 control-label message-lable text-right">确认密码：</label>
                                            <div class="col-md-4">
                                                <input type="password" name="password" id="password"
                                                       class="col-md-9 form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <input class="btn btn-primary" type="button" id="bu" value="提交"
                                                       style="margin: 10px"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!--页面尾部-->
<th:block th:include="common/footer::nav"/>

<!-- 图片上传 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请选择要上传的照片</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="treasure-pics" type="file" name="pictures" multiple class="file"
                                   data-overwrite-initial="false">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 头像上传 模态框（Modal） -->
<div class="modal fade" id="myImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myImgModalLabel">请选择要上传的头像</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="img" type="file" name="photo" class="file"
                                   data-overwrite-initial="false">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>	